---
import MainHead from '../components/MainHead.astro';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
	</head>
	<body>
		<nav />
		<div class="wrapper mt4 mb4">
			<h1>Page Not Found</h1>
			<p>Not found</p>
		</div>
		<footer />
	</body>
</html>
