---
import SiteLayout from "@layouts/SiteLayout.astro";
---

<SiteLayout>
	<div class="flex min-h-[400px] justify-center items-center">
		<div class="space-y-4">
			<h1 class="text-xl">Nothing found.</h1>
			<a href="/" class="block">Click here to go back to the home page.</a>
		</div>
	</div>
</SiteLayout>
