---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <div class="space-y-8">
    <div class="flex flex-row space-x-4 items-center">
      <img src="../../public/images/common/avatar.png" alt="Nirmalya Ghosh" height="100" width="100" />
      <div class="space-y-2">
        <h1 class="text-2xl">Nirmalya Ghosh</h1>
        <p>Software Engineer</p>
      </div>
    </div>
    <h2>Computer Science Engineer having interest in web-designing and development with an eye for detail.</h2>
  </div>
</SiteLayout>
