---
import Articles from "../components/Articles.astro";
import SiteLayout from "../layouts/SiteLayout.astro";

const articles = await Astro.glob("./articles/*.md")
---

<SiteLayout>
	<div class="space-y-16">
		<Articles articles={articles} />
	</div>
</SiteLayout>
