---
import SiteLayout from "@layouts/SiteLayout.astro";
import projects from "@data/projects.json"
import publications from "@data/publications.json"
import Projects from "@components/Projects.astro";
import Publications from "@components/Publications.astro";
import Articles from "@components/Articles.astro";

const articles = await Astro.glob("./articles/*.md")

const lastFiveProjects = projects.slice(0, 5)
const lastFivePublications = publications.slice(0, 5)
const lastFiveArticles = articles.slice(0, 5)
---

<SiteLayout>
	<div class="space-y-16">
		<Projects projects={lastFiveProjects} />
		<Articles articles={lastFiveArticles} />
		<Publications publications={lastFivePublications} />
	</div>
</SiteLayout>
