---
import SiteLayout from "../layouts/SiteLayout.astro";
import projects from "../../public/data/projects.json"
import publications from "../../public/data/publications.json"
import Projects from "../components/Projects.astro";
import Publications from "../components/Publications.astro";
import Articles from "../components/Articles.astro";

import "../styles/globals.css";

const articles = await Astro.glob("../../public/data/articles/*.md")
---

<SiteLayout>
	<div class="space-y-16">
		<Projects projects={projects} />
		<Articles articles={articles} />
		<Publications publications={publications} />
	</div>
</SiteLayout>
