---
import Article from "@custom-types/article";

const { articles } = Astro.props
---

<div class="space-y-4">
  <h2 class="font-semibold text-lg">Articles</h2>
  <div class="space-y-8">
    {articles.map((article:Article) => (
    <a href={article.url} class="block text-blue-700 hover:text-black">
      <h1 class="text-lg font-semibold">{article.frontmatter.title}</h1>
      <p class="text-gray-500">{article.frontmatter.description}</p>
    </a>
    ))}
  </div>
</div>
