---
import Article from "../types/article";

const { articles } = Astro.props
const lastFiveArticles = articles.slice(0, 5)
---

<div class="space-y-4">
  <h2>Articles</h2>
  <div class="space-y-8">
    {lastFiveArticles.map((article:Article) => (
    <a href={`/articles/${article.frontmatter.slug}`} class="block">
      <h1 class="text-lg font-semibold">{article.frontmatter.title}</h1>
      <p class="text-gray-500">{article.frontmatter.description}</p>
    </a>
    ))}
  </div>
</div>
