---
const { description, githubLink, demoLink } = Astro.props
---

<div class="p-4 bg-gray-100 rounded space-y-4">
  <h2 class="m-0 text-lg">{description}</h2>
  <div class="flex flex-row space-x-4">
    <a href={githubLink} class="p-2 bg-black text-white text-sm no-underline rounded">GitHub</a>
    <a href={demoLink} class="p-2 bg-black text-white text-sm no-underline rounded">Demo</a>
  </div>
</div>
