---
import siteConfig from "../utils/site";
---

<meta charset="UTF-8" />
<title>{siteConfig.details.title}</title>
<meta name="description" property="og:description" content={siteConfig.details.description} />
<meta name="viewport" content="width=device-width" />
