<nav class="p-4 max-w-2xl mx-auto w-full flex justify-between items-center">
  <div class="space-x-4">
    <a href="/" class="py-2 px-4 bg-black text-white text-sm no-underline rounded">/</a>
    <a href="/projects" class="text-sm">/projects</a>
    <a href="/articles" class="text-sm">/articles</a>
  </div>
  <div>
    <a href="https://twitter.com/NirmalyaGhosh_" target="_blank"
      class="py-2 px-4 bg-black text-white text-sm no-underline rounded">Follow</a>
  </div>
</nav>
