---
import Project from "@custom-types/project";

const { projects } = Astro.props
---

<div class="space-y-4">
  <h2 class="font-semibold text-lg">Projects</h2>
  <div class="space-y-8">
    {projects.map((project:Project) => (
    <a href={project.url} class="block text-blue-700 hover:text-black" target="_blank">
      <h1 class="text-lg font-semibold">{project.title}</h1>
      <p class="text-gray-500">{project.description}</p>
    </a>
    ))}
  </div>
</div>
