@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.025rem;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
    letter-spacing: -0.025rem;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrains\ Mono/JetBrainsMono-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'JetBrains Mono', monospace;
}
