---
import "../styles/globals.css";

import Navbar from "../components/Navbar.astro";

const { content } = Astro.props;
---

<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{content.title}</title>
</head>

<body class="space-y-16">
	<Navbar />
	<article class="p-4 max-w-2xl mx-auto prose">
		<h1>{content.title}</h1>
		<h2>{content.description}</h2>

		<slot />

	</article>
</body>

</html>
