---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">

<head>

</head>

<body class="space-y-16">
  <Navbar />
  <main class="p-4 max-w-2xl mx-auto">
    <slot />
  </main>
</body>

</html>
