---
import "../styles/globals.css";

import Navbar from "../components/Navbar.astro";
import siteConfig from "../utils/site";

---

<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{siteConfig.details.title}</title>
</head>

<body class="space-y-16">
  <Navbar />
  <main class="p-4 max-w-2xl mx-auto">
    <slot />
  </main>
</body>

</html>
